@charset "utf-8";
/* CSS Document */
.wrap{width: 1200px;margin:0 auto;}
.hd{position: relative;width: 70px;height: 30px;margin:0 auto; }
.hd p{height: 28px;line-height: 28px;}
.btn{width: 70px;height: 30px;margin:10px auto;line-height: 30px;border: 1px solid #666;border-radius: 5px;cursor: pointer;}
.d_bd{position: absolute;bottom: 0;left: 0;width:30px;height:1px;background-color: #000;opacity: 0;}